@{
    ViewBag.Title = "A Propos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>Application Asp.NET MVC</p>
<p>Développée par Radouane LOTFI</p>
<p>ECFM5 - Concepteur Développeur Informatique - AFPA 2016</p>
