@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Concepteur Développeur Informatique<br />
    <br />
    AFPA St-Jerôme - 2016 <br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:radouanelotfi@gmail.com">radouanelotfi@gmail.com</a><br />
</address>